<form class="form">
  <div class="header">
    Add a new commission
  </div>
  {{input
    value=form.profile
    name="profile"
    placeholder="Profile"
    autocomplete='off'
  }}
  {{input
    value=form.commtype
    name="commtype"
    placeholder="Commtype"
    autocomplete='off'
  }}
  {{textarea
    value=form.description
    name="description"
    placeholder="Description"
    rows=10
  }}
  {{input
    value=form.price_min
    name="price_min"
    placeholder="Price Min"
    autocomplete='off'
  }}
  {{input
    value=form.price_max
    name="price_max"
    placeholder="Price Max"
    autocomplete='off'
  }}
  {{input
    value=form.slots
    name="slots"
    placeholder="Slots"
    autocomplete='off'
  }}
</form>
<div class="actions">
  <div>
    <button {{action 'create'}}>
      Create
    </button>
    <button {{action 'cancel'}}>
      Cancel
    </button>
  </div>
</div>
{{outlet}}
