<h2> Profile</h2>
<div class="profileHeader">
  <img src="{{constants.rootURL}}{{model.img}}">
  <b>{{model.user.username}}</b>   Name: {{model.user.first_name}}
</div>
<div class = "profileDetails">
<b>Commission Status:</b> {{model.commstatus}}<br>
<b>Art Style:</b> {{model.artstyle}}<br>
<b>Description:</b> {{model.description}}<br><br>
</div>

<!--This iterates through each piece of commission data and puts them into a table-->
<h4>Commission Types</h4>
<table style="width:100%">
  {{#each model.commissions as |commission|}}
    <tr>
      <td>
        <b>{{commission.commtype}}:</b> ${{commission.price_min}} - ${{commission.price_max}}<br>
        <b>Slots:</b> {{commission.slots}}<br>
        {{commission.description}}<br><br>
      </td>
    </tr>
  {{/each}}
</table>
{{outlet}}
