<h3> Profile</h3>
<div class="profileHeader">
  <img src="{{constants.rootURL}}{{model.img}}">
  {{model.user.username}}
</div>
Commission Status: {{model.commstatus}}<br>
Description: {{model.description}}<br>
{{outlet}}
